extends layout

block content
  div.container
    div.row
      div.span4
        a.btn.btn-mainlink.btn-block.btn-large.btn-primary(href="/lighting") Lighting
      div.span4
        a.btn.btn-mainlink.btn-block.btn-large.btn-info(href="/power") Power
      div.span4
        a.btn.btn-mainlink.btn-block.btn-large.btn-success(href="/music") Music
