/*
body {
  background-color: #000;
}
@media screen and (min-width: 980px) {
  body {
    padding-top: 70px;
  }
}
*/
@media screen and (min-width: 1024px) {
  body {
    padding-top: 65px;
  }
}
.table td, .table th {
  text-align: center;
}
#brightness-slider {
  height: 315px;
  margin: 20px 32px;
}
.btn-onoff {
  margin: 15px 0px;
  padding: 25px 0px;
}
.btn-mainlink {
  margin: 15px 0px;
  padding: 75px 0px;
}
.btn-preset {
  margin: 15px 0px;
  padding: 75px 0px;
}
.slider {
  width: 160px;
}
.ui-slider {
  width: 115px;
}
.ui-slider .ui-slider-handle {
  width: 121px;
  height: 25px;
}
/*
.ui-slider-vertical {
  background-image: url(/audio/rail-y.png);
  background-repeat: repeat-y;
}
.ui-slider .ui-slider-range {
  background-image: url(/audio/rail-y.png);
  background-repeat: repeat-y;
  width: 50px;
}
.ui-slider .ui-slider-handle {
  background-image: url(/audio/thumb-y.png);
  width: 50px;
  background-repeat: repeat-y;
}
.slider-selection {
  background-image: url(/audio/thumb-y.png);
  //background-repeat: repeat-y;
}
*/
